*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    background-color: rgb(200, 196, 221);
    position: absolute;
}

h1 {
    font-size: 35px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(219, 220, 255, 0.884);
}

p {
    font-family: sans-serif;
    font-size: 15px;
    text-align: justify;
}

img {
    margin-top: 0;
    padding-top: 0;
    width: 180px;
    height: 200px;
}

.product1 {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

.product1 p {
    margin-top: 2rem;
}

.product2 {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

.product2 p {
    margin-left: 2rem;
}

.product3 {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

.product3 p {
    margin-left: 2rem;
}

.product4 {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

.product4 p {
    margin-left: 2rem;
}

.resume {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer .footer {
    margin-left: 50px;
}